imbalanced-learn
imblearn
ipywidgets
ipykernel
jinja2
matplotlib
mlxtend
numpy
openpyxl
pandas 
scikit-learn
scikit-optimize
seaborn
shap
skfeature-gli
sklearn-compat
statsmodels
tabulate
umap-learn
xgboost
lightgbm
